<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solvd.laba.onlineHardwareStore.dao.interfaces.IProductDAO">
    <resultMap id="product" type="com.solvd.laba.onlineHardwareStore.model.Product">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="producer" column="producer"/>
        <result property="dataOfManufacture" column="dataOfManufacture"/>
        <result property="price" column="price"/>
        <result property="producingCountry" column="producingCountry"/>
        <result property="amount" column="amount"/>
        <result property="characteristicsId" column="characteristicsId"/>
        <result property="providerId" column="providerId"/>
    </resultMap>

    <select id="getAllProducts" resultMap="product">
        SELECT * FROM product
    </select>

    <delete id="deleteProduct">
        DELETE FROM product WHERE id = #{id}
    </delete>

    <insert id="insertIntoProduct">
        INSERT INTO product (id, name, producer, dataOfManufacture, price,
            producingCountry, amount, characteristicsId, providerId)
        VALUES (#{id}, #{name}, #{producer}, #{dataOfManufacture}, #{price},
        #{producingCountry}, #{amount}, #{characteristicsId}, #{providerId})
    </insert>

    <update id="updateProduct">
        UPDATE product SET
        id = #{id},
        name = #{name},
        producer = #{producer},
        dataOfManufacture = #{dataOfManufacture},
        price = #{price},
        producingCountry = #{producingCountry},
        amount = #{amount},
        characteristicsId = #{characteristicsId},
        providerId = #{providerId}
        WHERE id = #{id}
    </update>

</mapper>